<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>
<form action="pay_sign_up" method="POST">
     {% csrf_token %}
<input name="name" type="text" placeholder="User Name" required>
<input name="password" type="password" placeholder="Password" required>
<input name="email" type="email" placeholder="Email" required>
<input name="phone_number" type="text" placeholder="phone_number" required>
<input type="submit" value="Submit">
</form>

</body>
</html>